# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
2048/.idea/2048.iml
2048/.idea/misc.xml
2048/.idea/modules.xml
2048/.idea/vcs.xml
2048/.idea/inspectionProfiles/profiles_settings.xml
blokus/ex1.tar
blokus/submission.pdf
blokus/.idea/.gitignore
blokus/.idea/blokus.iml
blokus/.idea/misc.xml
blokus/.idea/modules.xml
blokus/.idea/other.xml
blokus/.idea/vcs.xml
blokus/.idea/inspectionProfiles/profiles_settings.xml
2048.zip
Old quizzes (learning  game theory)-20200427.zip
Old quizzes (logic  planning)-20200427.zip
Old quizzes (voting)-20200427.zip
practice1.pdf
practice2.pdf
practice3.pdf
practice4.pdf
practice5.pdf
Quiz 1_ Attempt review_E.pdf
רקבןבןאשאןםמ5.mp4
2048/.idea/.gitignore
2048/.idea/2048.iml
2048/.idea/misc.xml
2048/.idea/modules.xml
2048/.idea/vcs.xml
2048/.idea/inspectionProfiles/profiles_settings.xml
blokus/ex1.tar
blokus/submission.pdf
Learnign and Game Theory/learning_2010A.pdf
Learnign and Game Theory/learning_2010A_ans.pdf
Learnign and Game Theory/learning_2010B.pdf
Learnign and Game Theory/learning_2010B_ans.pdf
Learnign and Game Theory/learning_2012.pdf
Learnign and Game Theory/learning_2012_ans.pdf
Learnign and Game Theory/learning_2013A.pdf
Learnign and Game Theory/learning_2013A_ans.pdf
Learnign and Game Theory/learning_2013B_ans.pdf
Learnign and Game Theory/learning_2015_ans.pdf
Learnign and Game Theory/learning_voting_GT_2016_ans.pdf
Learnign and Game Theory/learning_voting_GT_2018_ans.pdf
Learnign and Game Theory/list of irrelevant questions.txt
Learnign and Game Theory/mixed topics/list of GT questions.txt
Learnign and Game Theory/mixed topics/list of learning questions.txt
Learnign and Game Theory/mixed topics/mixed_2010.pdf
Learnign and Game Theory/mixed topics/mixed_2010_ans.pdf
Learnign and Game Theory/mixed topics/mixed_2011.pdf
Learnign and Game Theory/mixed topics/mixed_2011_ans.pdf
Learnign and Game Theory/mixed topics/mixed_2012.pdf
Learnign and Game Theory/mixed topics/mixed_2012_ans.pdf
Learnign and Game Theory/mixed topics/mixed_2013.pdf
Learnign and Game Theory/mixed topics/mixed_2013_ans.pdf
Learnign and Game Theory/mixed topics/mixed_2014.pdf
Learnign and Game Theory/mixed topics/mixed_2014_ans.pdf
Learnign and Game Theory/mixed topics/mixed_2015_ans.pdf
logic and planning quizzes/logic_2009.pdf
logic and planning quizzes/logic_2009_ans.pdf
logic and planning quizzes/logic_2010.pdf
logic and planning quizzes/logic_2010_ans.pdf
logic and planning quizzes/logic_2011.pdf
logic and planning quizzes/logic_2011_ans.pdf
logic and planning quizzes/logic_2012.pdf
logic and planning quizzes/logic_2012_ans.pdf
logic and planning quizzes/logic_2012_ans2.pdf
logic and planning quizzes/logic_2013_ans.pdf
logic and planning quizzes/logic_2013_ans2.pdf
logic and planning quizzes/logic_2014_ans.pdf
logic and planning quizzes/planning_2009.pdf
logic and planning quizzes/planning_2009_ans.pdf
logic and planning quizzes/planning_2010.pdf
logic and planning quizzes/planning_2010_ans.pdf
logic and planning quizzes/planning_2012A.pdf
logic and planning quizzes/planning_2012A_ans.pdf
logic and planning quizzes/planning_2012B.pdf
logic and planning quizzes/planning_2012B_ans.pdf
logic and planning quizzes/planning_2013_ans.pdf
logic and planning quizzes/planning_2013_ans2.pdf
logic and planning quizzes/planning_2014_ans.pdf
logic and planning quizzes/planning_logic_search_2018_ans.pdf
logic and planning quizzes/planning_logic_search_2018_ans2.pdf
Quiz1/Annotation 2020-05-04 155732.png
Quiz1/Annotation 2020-05-04 155837.png
Quiz1/Annotation 2020-05-04 155859.png
Quiz1/Annotation 2020-05-04 155921.png
Quiz1/Annotation 2020-05-04 155950.png
Quiz1/Annotation 2020-05-04 160054.png
Quiz1/Annotation 2020-05-04 160206.png
Quiz1/Annotation 2020-05-04 160241.png
voting/2010.pdf
voting/2010_ans.pdf
voting/2011.pdf
voting/2011_ans.pdf
voting/2012.pdf
voting/2012_ans.pdf
voting/2013.pdf
voting/2013_ans.pdf
voting/2014.pdf
voting/2014_ans.pdf
voting/2015_ans.pdf
voting/2016_ans.pdf
voting/2018_ans.pdf
voting/list of voting questions.txt
2048/.idea/other.xml
